<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Places</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Big Ben</string>
			<key>Address</key>
			<string>London SW1A OAA</string>
			<key>Image</key>
			<string>BigBen</string>
			<key>Latitude</key>
			<string>51.50069</string>
			<key>Longitude</key>
			<string>-0.1245839</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Buckingham Palace</string>
			<key>Address</key>
			<string>London SW1A 1AA</string>
			<key>Image</key>
			<string>BuckinghamPalace</string>
			<key>Latitude</key>
			<string>51.499932</string>
			<key>Longitude</key>
			<string>0.141142</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>London Eye</string>
			<key>Address</key>
			<string>London SE 1 7PB</string>
			<key>Image</key>
			<string>LondonEye</string>
			<key>Latitude</key>
			<string>51.5032803</string>
			<key>Longitude</key>
			<string>-0.1196873</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>St Paul&apos;s Cathedral</string>
			<key>Address</key>
			<string>London EC4M 8AD</string>
			<key>Image</key>
			<string>St-Pauls</string>
			<key>Latitude</key>
			<string>51.5133171</string>
			<key>Longitude</key>
			<string>0.0988166</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Tower Bridge</string>
			<key>Address</key>
			<string>London SE1 2UP</string>
			<key>Image</key>
			<string>TowerBridge</string>
			<key>Latitude</key>
			<string>51.5057975</string>
			<key>Longitude</key>
			<string>0.0751559</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Westminster Abbey</string>
			<key>Address</key>
			<string>London SW 1P 3PA</string>
			<key>Image</key>
			<string>WestminsterAbbey</string>
			<key>Latitude</key>
			<string>51.498762</string>
			<key>Longitude</key>
			<string>0.128107</string>
		</dict>
	</array>
</dict>
</plist>
